body{
  margin:0;
  font-family:Arial;
  background:#1b1b1b;
  color:white;
  text-align:center;
}
header{
  background:#3c8527;
  padding:20px;
}
.mod{
  border:3px solid #3c8527;
  margin:10px;
  padding:10px;
}
